  
    <h1 class='well madeHeader'>All Articles</h1>

  <%= link_to 'Create New article', new_article_path, class: 'btn btn-success' %>
  
  <h5 class='hideIt'>44</h5>
  
  <div class="row">
    <aside class ="col-md-8">
      <table>
    <tr>
      <th class='well wellTitle'>Title</th>
      <th class='well wellTitle'>Text</th>
     
    </tr>
    
    <% @articles.each do |article| %>
     
      <tr>
        <td class='well well-sm wellFloor'><%= article.title %></td>
        <td class='well well-sm wellFloor'><%= article.text %></td>
        <td><p class='hideIt'>44</p></td>
        <td><%= link_to 'Show', article_path(article), class: 'btn btn-info' %></td>
        <td><%= link_to 'Edit', edit_article_path(article), class: 'btn btn-warning' %></td>
        <td><%= link_to 'destroy', article_path(article), class: 'btn btn-danger',
                method: :delete,
                data: {confirm: 'Are you sure?'} %></td>
      </tr>
    <% end %>
    </aside>
    </div>
  </table>
   
