<h5 class='hideIt'>44</h5>
  <div class="row">
    <aside class ="col-md-4 col-md-offset-4">
   
      
         <p class='well'>
          <strong>Title:</strong>
          <strong class='subjectTalk'><%= @article.title %></strong>
        </p>
     
    
      <p class='well'>
        <strong>Text:</strong>
        <strong class='subjectTalk'><%= @article.text %></strong>
      </p>
   
    
    <h4>Comments:</h4>
      <%= render @article.comments %>
    
      
    <h4>Add a comment:</h4>
    
    <%= render 'comments/form' %>
    
    <%= link_to 'Edit', edit_article_path(@article), class: 'btn btn-warning' %> 
    <%= link_to 'Back', articles_path, class: 'btn btn-info' %>
    
    </aside>
    </div>
   
 